# Dependencies
node_modules
.next
out
build
dist

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode
.idea
.DS_Store

# Mobile specific
noshnurture_mobile/build/
noshnurture_mobile/.dart_tool/
noshnurture_mobile/.packages
noshnurture_mobile/.flutter-plugins
noshnurture_mobile/.flutter-plugins-dependencies
noshnurture_mobile/pubspec.lock

# Zip and temporary files
*.zip
*.docx
*.pdf
ezgif-*/

# OS Files
.DS_Store
Thumbs.db
